# Files and folders to ignore

# 1. intermediate files
*.o
*.d

# 2. binaries
Builds/Linux/build/open-ephys
Resources/Fonts/font_serializer/Builds/Linux/build/
JuceLibraryCode/jucer/Builds/Linux/build

# 3. extra files
Builds/Linux/build/data
Builds/Linux/build/savedState.xml
Builds/Linux/build/windowState.xml
Builds/Linux/build/Data
Builds/Linux/build/*.xml
Builds/Linux/build/*.out
