# Files and folders to ignore

# 1. intermediate files
*.o
*.d

# 2. binaries
Builds/Linux/build/open-ephys
Builds/Linux/build/open-ephys-release
Resources/Fonts/font_serializer/Builds/Linux/build/
Projucer/Builds/Linux/build
Projucer/Builds/VisualStudio2010/Debug
Projucer/Builds/VisualStudio2010/Release
Projucer/Builds/VisualStudio2010/*.user
Projucer/Builds/VisualStudio2010/*.sdf
Projucer/Builds/VisualStudio2010/*.suo
Projucer/Builds/VisualStudio2012/Debug
Projucer/Builds/VisualStudio2012/Release
Projucer/Builds/VisualStudio2012/*.user
Projucer/Builds/VisualStudio2012/*.sdf
Projucer/Builds/VisualStudio2012/*.opensdf
Projucer/Builds/VisualStudio2012/*.suo
Projucer/Builds/VisualStudio2013/Debug
Projucer/Builds/VisualStudio2013/Release
Projucer/Builds/VisualStudio2013/x64
Projucer/Builds/VisualStudio2013/*.user
Projucer/Builds/VisualStudio2013/*.sdf
Projucer/Builds/VisualStudio2013/*.opensdf
Projucer/Builds/VisualStudio2013/*.suo

PluginGenerator/Builds/VisualStudio2013/x64
PluginGenerator/Builds/VisualStudio2013/*.user
PluginGenerator/Builds/VisualStudio2013/*.sdf
PluginGenerator/Builds/VisualStudio2013/*.opensdf
PluginGenerator/Builds/VisualStudio2013/*.suo

# 3. extra files
Builds/Linux/build/data
Builds/Linux/build/savedState.xml
Builds/Linux/build/windowState.xml
Builds/Linux/build/Data
Builds/Linux/build/*.xml
Builds/Linux/build/*.out

# 4. Windows related
Builds/VisualStudio2012/Debug
Builds/VisualStudio2012/Release
Builds/VisualStudio2012/Debug64
Builds/VisualStudio2012/Release64
Builds/VisualStudio2012/x64
Builds/VisualStudio2012/ipch
Builds/VisualStudio2012/open-ephys.sdf
Builds/VisualStudio2012/open-ephys.opensdf
Builds/VisualStudio2012/open-ephys.suo
Builds/VisualStudio2012/open-ephys.v11.suo
Builds/VisualStudio2012/open-ephys.vcxproj.user
Builds/VisualStudio2012/windowState.xml
Builds/VisualStudio2012/pipetest.bit

Builds/VisualStudio2013/Debug
Builds/VisualStudio2013/Release
Builds/VisualStudio2013/Debug64
Builds/VisualStudio2013/Release64
Builds/VisualStudio2013/x64
Builds/VisualStudio2013/ipch
Builds/VisualStudio2013/open-ephys.sdf
Builds/VisualStudio2013/open-ephys.opensdf
Builds/VisualStudio2013/open-ephys.suo
Builds/VisualStudio2013/open-ephys.v12.suo
Builds/VisualStudio2013/open-ephys.vcxproj.user
Builds/VisualStudio2013/windowState.xml
Builds/VisualStudio2013/pipetest.bit

Builds/VisualStudio2010/Debug
Builds/VisualStudio2010/Release
Builds/VisualStudio2010/ipch
Builds/VisualStudio2010/open-ephys.sdf
Builds/VisualStudio2010/open-ephys.opensdf
Builds/VisualStudio2010/open-ephys.suo
Builds/VisualStudio2010/open-ephys.v11.suo
Builds/VisualStudio2010/open-ephys.vcxproj.user
Builds/VisualStudio2010/windowState.xml
Builds/VisualStudio2010/pipetest.bit

Builds/VisualStudio2013/Plugins/*.user
Builds/VisualStudio2013/Plugins/*.suo
Builds/VisualStudio2013/Plugins/*.sdf
Builds/VisualStudio2013/Plugins/*.opensdf
Builds/VisualStudio2013/Plugins/*/*.user
Builds/VisualStudio2013/Plugins/*/*.suo
Builds/VisualStudio2013/Plugins/*/*.sdf
Builds/VisualStudio2013/Plugins/*/*.opensdf
Builds/VisualStudio2013/Plugins/**/x64
Builds/VisualStudio2013/Plugins/**/Debug
Builds/VisualStudio2013/Plugins/**/Release

Builds/VisualStudio2013/Plugins/Debug
Builds/VisualStudio2013/Plugins/Release
Builds/VisualStudio2013/Plugins/x64

# 5. Miscellanous generated files (Doxygen, etc.)
Source/Docs/*

# 6. IDE and code analyzer cruft
cscope.files
cscope.out
*~
.dir-locals.el
*.swp
gmon.out

# 7. Open Ephys data files
*.continuous
*.events

# 8. OS X related
.DS_Store
Builds/MacOSX/open-ephys.xcodeproj/*.mode1v3
Builds/MacOSX/open-ephys.xcodeproj/*.pbxuser
Builds/MacOSX/open-ephys.xcodeproj/xcuserdata
Builds/MacOSX/open-ephys.xcodeproj/project.xcworkspace
Builds/MacOSX/build
Projucer/Builds/MacOSX/Projucer.xcodeproj/*.mode1v3
Projucer/Builds/MacOSX/Projucer.xcodeproj/*.pbxuser
Projucer/Builds/MacOSX/Projucer.xcodeproj/xcuserdata
Projucer/Builds/MacOSX/Projucer.xcodeproj/project.xcworkspace
Projucer/Builds/MacOSX/build
Projucer/Builds/MacOSX/Projucer.xcodeproj/xcuserdata
Projucer/Builds/MacOSX/Projucer.xcodeproj/project.xcworkspace

*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
*default.perspectivev3
xcuserdata/

*.moved-aside
*.xccheckout
*.xcscmblueprint

*.xcodeproj/*
!*.xcodeproj/project.pbxproj
!*.xcodeproj/xcshareddata/
!*.xcworkspace/contents.xcworkspacedata
/*.gcno

PluginGenerator/Builds/MacOSX/OpenEphys_PluginGenerator.xcodeproj/project.xcworkspace/contents.xcworkspacedata

# 9. Plugin build dirs
build/

/Builds/MacOSX/Plugins/Config/Env.xcconfig
#10. git conflict resolution files
*.orig
