# Files and folders to ignore

# 1. intermediate files
*.o
*.d

# 2. binaries
Builds/Linux/build/open-ephys
Resources/Fonts/font_serializer/Builds/Linux/build/
JuceLibraryCode/jucer/Builds/Linux/build
JuceLibraryCode/jucer/Builds/VisualStudio2010/Debug
JuceLibraryCode/jucer/Builds/VisualStudio2010/Release
JuceLibraryCode/jucer/Builds/VisualStudio2010/*.user
JuceLibraryCode/jucer/Builds/VisualStudio2010/The Jucer.sdf
JuceLibraryCode/jucer/Builds/VisualStudio2010/The Jucer.v11.suo

# 3. extra files
Builds/Linux/build/data
Builds/Linux/build/savedState.xml
Builds/Linux/build/windowState.xml
Builds/Linux/build/Data
Builds/Linux/build/*.xml
Builds/Linux/build/*.out

# 4. Windows related
Builds/VisualStudio2012/Debug
Builds/VisualStudio2012/Release
Builds/VisualStudio2012/ipch
Builds/VisualStudio2012/open-ephys.sdf
Builds/VisualStudio2012/open-ephys.opensdf
Builds/VisualStudio2012/open-ephys.suo
Builds/VisualStudio2012/open-ephys.v11.suo
Builds/VisualStudio2012/open-ephys.vcxproj.user
Builds/VisualStudio2012/windowState.xml
Builds/VisualStudio2012/pipetest.bit