// Defaults for values that might be overridden in Env.xcconfig
JULIA_PATH = /Applications/Julia-0.5.app/Contents/Resources/julia
MAC_PACKAGE_DIR = /opt/local
MAC_HDF5_BASE = $(MAC_PACKAGE_DIR)/lib/hdf5-18

// Pull in machine-specific settings from git-ignored file, if it exists.
#include? "Env.xcconfig"

ALWAYS_SEARCH_USER_PATHS = NO
CLANG_ANALYZER_NONNULL = YES
CLANG_CXX_LANGUAGE_STANDARD = c++0x
CLANG_CXX_LIBRARY = libc++
CLANG_ENABLE_MODULES = NO
CLANG_ENABLE_OBJC_ARC = NO
CLANG_LINK_OBJC_RUNTIME = NO
CLANG_WARN_BOOL_CONVERSION = YES
CLANG_WARN_CONSTANT_CONVERSION = YES
CLANG_WARN_DIRECT_OBJC_ISA_USAGE = YES_ERROR
CLANG_WARN_DOCUMENTATION_COMMENTS = NO
CLANG_WARN_EMPTY_BODY = YES
CLANG_WARN_ENUM_CONVERSION = YES
CLANG_WARN_INFINITE_RECURSION = YES
CLANG_WARN_INT_CONVERSION = YES
CLANG_WARN_OBJC_ROOT_CLASS = YES_ERROR
CLANG_WARN_SUSPICIOUS_MOVE = YES
CLANG_WARN_UNREACHABLE_CODE = YES
CLANG_WARN__DUPLICATE_METHOD_MATCH = YES
CODE_SIGN_IDENTITY =
COMBINE_HIDPI_IMAGES = YES
COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_C_LANGUAGE_STANDARD = c99
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 3
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) OEPLUGIN JUCER_XCODE_MAC_F6D2F4CF=1 JUCE_APP_VERSION=0.4.1 JUCE_APP_VERSION_HEX=0x401
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
MACOSX_DEPLOYMENT_TARGET = 10.9
OTHER_LDFLAGS = $(inherited) -undefined dynamic_lookup
SDKROOT = macosx
SKIP_INSTALL = YES
WARNING_CFLAGS = $(inherited) -Wpartial-availability -Wreorder -Wno-inconsistent-missing-override
