// To set environment-specific variables, copy this file to
// a file in the same directory named "Env.xcconfig". If you
// add a variable to this file and refer to it in a project
// config, please be sure to provide a sensible default
// behavior for folks who don't create their own Env.xcconfig.

MAC_PACKAGE_DIR = /usr/local
MAC_HDF5_BASE = $(MAC_PACKAGE_DIR)/Cellar/hdf5/1.8.16_1
