#include "Base.xcconfig"

CONFIGURATION_BUILD_DIR = $(PROJECT_DIR)/../../build/$(CONFIGURATION)/open-ephys.app/Contents/PlugIns
COPY_PHASE_STRIP = NO
DEBUG_INFORMATION_FORMAT = dwarf
ENABLE_STRICT_OBJC_MSGSEND = YES
GCC_C_LANGUAGE_STANDARD = c99
GCC_GENERATE_DEBUGGING_SYMBOLS = YES
GCC_NO_COMMON_BLOCKS = YES
GCC_OPTIMIZATION_LEVEL = 3
GCC_PREPROCESSOR_DEFINITIONS = $(inherited) OEPLUGIN JUCER_XCODE_MAC_F6D2F4CF=1 JUCE_APP_VERSION=0.4.1 JUCE_APP_VERSION_HEX=0x401
GCC_VERSION = com.apple.compilers.llvm.clang.1_0
GCC_WARN_64_TO_32_BIT_CONVERSION = NO
GCC_WARN_ABOUT_RETURN_TYPE = YES_ERROR
GCC_WARN_CHECK_SWITCH_STATEMENTS = YES
GCC_WARN_MISSING_PARENTHESES = YES
GCC_WARN_NON_VIRTUAL_DESTRUCTOR = YES
GCC_WARN_TYPECHECK_CALLS_TO_PRINTF = YES
GCC_WARN_UNDECLARED_SELECTOR = YES
GCC_WARN_UNINITIALIZED_AUTOS = YES_AGGRESSIVE
GCC_WARN_UNUSED_FUNCTION = YES
GCC_WARN_UNUSED_VARIABLE = YES
HEADER_SEARCH_PATHS = ../../../../JuceLibraryCode ../../../../JuceLibraryCode/modules ../../../../Source/Plugins/Headers ../../../../Source/Plugins/CommonLibs $(MAC_PACKAGE_DIR)/include $(inherited)
INSTALL_PATH = $(HOME)/Applications/open-ephys.app/Contents/PlugIns
WRAPPER_EXTENSION = bundle
